

.product>img{
    height:200px;
    width: 200px;
}
img:hover{
    transform: scale(1.1)
}
.product {
    margin-left: 30px;
    margin-top:20px;
    margin-bottom: 20px;
    text-align:center;
    transition: box-shadow .3s;
    width: 300px;
    height: 400px;
        padding:0;
    border-radius:10px;
    border: 1px solid #ccc;
    background: #fff;
    
    
  }
  .product:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }
